/* Center the entire page content */
.acccount-details-container {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;  /* Horizontally centers content */
  width: 100%;  /* Ensure the container takes full width */
  text-align: center; /* Center the text */
}

/* Center the heading */
.heading {
  text-align: center;
  color: #00668C;
  font-size: 36px;
  font-weight: 600;
}

.account-details {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Center the details box */
.details {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: 350px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.details p {
  font-size: 18px;
  margin: 10px 0;
}

.details strong {
  color: #333;
}
