.Groups {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow-y: hidden;
    height: 100vh;
  }
  
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .Group {
    display: flex;
    flex: 1;
    overflow-y: hidden;
  }


  .NoGroupSelected {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    flex: 1;  /* Makes it take up the full available space */
    color: #888;
    text-align: center;
}


  .GroupHeader {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    font-weight: bold;
  }

  .GroupInfo {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    height: 100%;
    
  }

  .GroupsSidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 30%;
    border-right: 1px solid #ccc;
    background-color: #f9f9f9;
    height: 100%;
    overflow-y: auto;
  }


  .GroupsTab {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease;
  }

  .GroupList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 5px;
  }

  .GroupListItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    gap:15px;
  }

  .GroupListItem:hover {
    background-color: #d4d4d4;
  }

  .GroupListItem.active {
    background-color: #e3e3e3;
    font-weight: bold;
  }

  .groups-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    width: 100%; 
  }


  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 16px;
    color: #555;
  }

  .loading-spinner {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-top: 2px solid #555;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .groups-profile-pic {
    max-height: 50px;
  }