
.landing-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}
.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: #0077b6;
}

.Copyright2 {
  margin-top: 20px;
  font-size: 14px;
  color: #00668C;
  text-align: center;
  vertical-align: center;
  width: 100%;
  position: fixed;
  line-height: 30px;
  bottom: 0;
  background-color: #D4EAF7 ;
}
p {
  margin: 0;
  padding: 0;
  text-align: center;
}
