/* Login css */
.login {
  background-color: #D4EAF7;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  flex-grow: 1;
}

.loginPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login-container {
  width: 80vw;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
}

.login_title {
  width: 100%;
  height: auto; /* Adjust the height */
  font-family: 'Inter';
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 5px;
  color: #3B3C3D;
}

.login-form {
  height: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  width:100%;
  max-width: 800px;
}

.login-form input {
  height: 25px;
  margin-bottom: 15px;
  padding: 5px;
  border: .7px solid #3B3C3D;
  border-radius: 1px;
}

.enter_title {
  width: 100%;
  font-family: 'Inter';
  font-weight: normal;
  font-size: 18px;
  text-align: left; /* Centers the enter title */
  line-height: 1.2;
  margin-bottom: 15px; /* Add space between this and the form */
}

label {
  width: auto;
  height: auto;
  font-family: 'Inter';
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 10px;
  line-height: 10px;
  display: block;
  font-weight: normal;
  color: #3B3C3D;
}

.forgot {
  width: 100%;
  height: 50px;
  color: #00668C;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
}

.or {
  width: 100%;
  color: #3B3C3D;
  font-size: 14px;
  font-weight: 500;
}

.or label {
  font-size: 16px;
  text-align: center;
  padding-top:15px;
  padding-bottom:15px;
}

.login-container button {
  width: 100%;
  height: 40px;
  background-color: #00668C;
  color: white;
  border-color: #00668C;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  border: 0;
}