/* This styles the entire page that contains the swipeable content */
.swiping-page {
    height: 100vh;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}

/* This styles the swipe content area within the swiping-page */
.swipe-content {
    flex:1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-left: 70px;
    padding-right: 70px;
    align-self: center;
    overflow-y: scroll;
    box-sizing: border-box;
}


