/* Welcome CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: medium;
  font-family: 'Inter';
}

p {
  font-size: 25px;
  color: #004c72;
}

body .welcome {
  background-image: url('../components/Curve.svg');
  background-repeat: no-repeat;
}

.welcome {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-color: #D4EAF7;
  padding-top: 20px;
}

.WelcomePage {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

.well {
  font-size: 56px;
  color: #004c72;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 0;
}

/* Logo */
.Logo2 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  height: auto;
}

/* Get Started Button */
.getStarted {
  background-color: #FEAD2B;
  color: #FFFEFB;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
  border-color: #FEAD2B;
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

.getStarted:hover {
  background-color: #e8911d;
  transform: scale(1.05);
}