h1 {
  font-size: 64px  !important;
  font-weight: normal !important;
  margin-bottom: 1rem !important;
}

h2 {
  font-size: 30px  !important;
  font-weight: normal !important;
  margin-bottom: 1rem !important;
  margin-top: 2rem !important;
}

p {
  padding-left: 0  !important;
  font-size: 1.25rem !important;
  font-weight: 300 !important;
  text-align: left !important;
  color: black;

}