.messages-panel {
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    padding: 5px; /* Prevents overflow issues */
  }
  
  .ChatList {
    overflow-y: scroll; /* Enables scrolling when needed */
    flex:1;
    margin-bottom: 70px;
    }

    .chat-list-name-pfp {
      display: flex;
      flex-direction: row;
      gap:15px;
      align-items: center;
    }

  .blue-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    right: 10px; /* Adjust this to position it appropriately */
  }

  .chat-name {
    color: black; /* Default color */
  }
  
  

  .ChatListItem .chat-name.highlighted {
    color: blue; /* Highlighted color */
    font-weight: bold;
  }
  
  
  .chat-name.highlighted::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    left: -12px;  /* Adjust position to move the dot next to the name */
    top: 50%;
    transform: translateY(-50%); /* Center it vertically */
  }
  