/* Logo */
.Logo {
  width: 100%;
  position: relative;
  margin: auto;
  padding-bottom: 0;
}

.Logo svg {
  width: 100%;
  height: auto;
}

/* Footer */
 .Copyright footer {
  /*font-size: 14px;
  color: #00668C;
  text-align: center;
  width: 100%;
  position:absolute;
  line-height: 50px;
  bottom: 0;
  background-color: #D4EAF7;
  height: 50px;
  z-index: 1000;
  display: block;
  margin-top: auto;
  display: inline-block; */
  
    font-size: 14px;
    color: #00668C;
    text-align: center;
    width: 100%;
    line-height: 50px;
    background-color: #D4EAF7;
    height: 50px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto; 
}


/* Navigation Bar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #D4EAF7;
  box-sizing: border-box;
  z-index: 10;
}

.nav-logo {
  width: 200px;
  height: auto;
  flex-shrink: 1;
}

.nav-links {
  display: flex;
  flex-shrink: 1;
  overflow: hidden;
  gap: 1rem;
}

.nav-links a {
  margin: 0 1rem;
  color: #00668C;
  text-decoration: none;
  font-weight: 500;
  font-size: medium;
  white-space: nowrap;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-icons {
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.search-bar {
  position: relative;
  margin-right: 1rem;
  flex-grow: 1;
  min-width: 100px;
  transition: opacity 0.3s ease;
}

.search-bar input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #00668C;
}

.icon {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #00668C;
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #00668C;
}

/* Full-Screen Overlay Menu - for navigation when for mobile*/
.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 102, 140, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1100;
}

.fullscreen-menu.show {
  opacity: 1;
  visibility: visible;
}

.fullscreen-menu a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.fullscreen-menu a:hover {
  text-decoration: underline;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
}

/* Responsive Navigation */
@media (max-width: 900px) {
  .navbar {
    padding: 1rem;
  }
  .nav-logo {
    display: none;
  }
  .nav-icons .icon {
    font-size: small;
  }
  .nav-links a {
    font-size: small;
    margin: 0 0.5rem;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .nav-links.show {
    display: flex;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 400px) {
  .search-bar {
    display: none;
  }
}

/* Side Navigation */
.sidenav {
  width: 250px;
  min-width: 250px;
  position: relative;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D9D9D9;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  text-align: left;
}

.sidenav a {
  padding: 8px;
  margin: 7px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #313D44;
  display: block;
}

.sidenav a.active, .sidenav a:hover {
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
}

@media screen and (max-height: 450px) {
  .sidenav { padding-top: 15px; }
  .sidenav a { font-size: 18px; }
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  max-height: 300px;
  background-color: #fff;
  border-radius: 2px;
  overflow-y: scroll;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding-inline-start: 0;
}

.dropdown p {
  color: black;
  padding: 15px 20px;
  cursor: pointer;
  font-size: small;
  margin: 0;
}

.dropdown p:hover {
  background-color: #D4EAF7;
}

/* Send Email Button */
.send-email-btn {
  width: 100%;
  height: 40px;
  background-color: #00668C;
  color: white;
  border-color: #00668C;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
}
