.study-group-panel {
  position: relative; /* Change to 'relative' to remove the fixed position */
  width: 100%;
  max-width: 60vw; /* You can adjust the width as needed */
  max-height: 70vh;
  margin: 20px auto; /* Center the panel horizontally */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-y: auto;
}

.edit-study-group-panel {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  width: 100%; /* Ensure it fills the study group panel width */
  max-width: 100%; /* Maximize the width of the parent */
  box-sizing: border-box;
  overflow-y: auto;
}

.edit-study-group-panel input,
.edit-study-group-panel textarea {
  margin-bottom: 20px;
  display: block;
  font-size: small;
  max-width: 100%; /* Full width within the panel */
  box-sizing: border-box;
  border: .7px solid #3B3C3D;
  border-radius: 5px;
  padding: 5px;
}

.edit-study-group-panel input {
  height: 40px;
  margin-bottom: 15px;
}

.edit-study-group-panel button {
  margin-right: 10px;
  background-color: #00668C;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.edit-study-group-profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-study-group-profile-picture img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-bottom: 20px;
}
