/* Users Panel - Non-popup */
.users-panel {
  position: relative; /* Change to 'relative' to remove the fixed position */
  width: 350px;
  max-height: 450px;
  overflow-y: auto;
  background: white;
  border-radius: 10px;
  padding: 40px;
  margin: 20px auto; /* Center the panel horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}




/* Panel Animation */
@keyframes fadeInScale {
  from {
      transform: scale(0.95);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

.users-panel {
  animation: fadeInScale 0.3s ease-in-out;
}

/* Close Button for User Panel */
.users-panel button {
  background: none;
  border: none;
  font-size: 16px;
  color: #555;
  cursor: pointer;
  align-self: flex-end;
}

.users-panel button:hover {
  color: red;
}

.remove-button {
  background: none;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.remove-button:hover {
  color: darkred;
}

/* User list styling */
.user-list-panel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

.user-list-panel li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  border-radius: 12px;
  transition: background-color 0.3s ease;

}

.user-list-panel li:hover {
  background-color: #e0f7fa;
}

/* Remove user button */
.remove-button {
  background-color: #ff4d4d46;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #e60000;
}

/* Leave button */
.leave-button {
  display: block;
  width: 100%;
  background-color: #ce5e39;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 15px;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-bottom: 20%;
}

.leave-button:hover {
  background-color: #e60000;
}


