.popup-profile-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    overflow-y: auto;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .popup-profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .popup-profile-header h1 {
    font-size: 1.75rem;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .popup-close-button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #888;
    transition: color 0.2s;
  }
  
  .popup-close-button:hover {
    color: #000;
  }
  
  .popup-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  
  .popup-left-side {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20px;
    border-right: 1px solid #ddd;
  }
  
  .popup-right-side {
    flex-grow: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .popup-profile-details-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
  }

  .popup-profile-details{
    display: block;
    width: 50%;
  }
  
  .popup-profile-pic {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  
  .bold-first-word {
    font-weight: bold;
  }
  
  .popup-right-side h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #00668C;
  }
  
  .study-habit-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px 0 50px 0;
  }
  
  .tag {
    background-color: hsl(0, 0%, 90%);
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  