:root {
    --primary-100: #D4EAF7;
    --primary-200: #B6CCD8;
    --primary-300: #71C4EF;
    --text-100: #3B3C3D;
    --text-200: #1D1C1C;
    --bg-100: #FFFEFB;
    --bg-200: #F5F4F1;
    --bg-300: #CCCBC8;
    --accent-100: #FEAD2B;
    --accent-200: #00668C;
}

body {
    background-color: var(--bg-100);
    font-family: "Inter", sans-serif;
    color: var(--text-100);
}

.schedule-table, .merged-availability-table {
    width: 100%;
    border-collapse: collapse;
    border: hidden;
    margin: 20px auto;
    background: var(--bg-200);
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; */
    overflow: hidden;
    table-layout: fixed;
}

.schedule-table thead, .merged-availability-table thead {
    background: var(--primary-200);
    color: var(--text-200);
    text-transform: uppercase;
    font-weight: bold;

}

.schedule-table th,
.schedule-table td ,
.merged-availability-table th,
.merged-availability-table td{
    padding: 12px;
    text-align: center;
    border: 1px solid #3b3c3d6e;
}
.schedule-table th.empty-cell,
.merged-availability-table th.empty-cell {
    background: white !important;
    border: none;
}

.schedule-table tbody tr:nth-child(odd),
.merged-availability-table tbody tr:nth-child(odd) {
    background: var(--bg-100);
}

.schedule-table tbody tr:nth-child(even),
.merged-availability-table tbody  tr:nth-child(even) {
    background: var(--bg-200);
}

.schedule-table .time-slot,
.merged-availability-table .time-slot
 {
    background: var(--primary-100);
    font-weight: bold;
    color: var(--text-200);
}

.cell {
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.cell:hover {
    background: var(--primary-300);
}

.cell.selected {
    background: #00678c93;
    color: var(--bg-100);
    font-weight: bold;
    /* border-radius: 6px; */
}

.cell.selected:hover {
    background: var(--accent-100);
}

.cell.solid {
    background-color: #00668C;
    /* Solid green (fully available) */
}

.cell.translucent {
    background-color: rgba(0, 128, 0, 0.5);
    /* Semi-opaque green (some users available) */
}

.cell.transparent {
    background-color: rgba(0, 128, 0, 0.1);
    /* Transparent green (no users available) */
}

.schedule-tables-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .schedule-table th,
    .schedule-table td {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .schedule-table {
        font-size: 12px;
    }

    .schedule-table th,
    .schedule-table td {
        padding: 6px;
    }
}
